@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Tipografías */

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Estilos básicos */

body *{
	box-sizing: border-box;
	font-weight: normal;
}
body {
	width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 16px;
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.wrapper{  
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.title{ 
    font-family: 'montserratbold';
    text-align: center;
    margin:0 auto;
}
.title--2{ 
    font-size: 22px;
    line-height: 24px;
    padding-top:20px;
    padding-bottom: 20px;
}
.title--3{ 
    font-size: 12px;
    line-height: 14px;
}
.left-alignment{
    text-align: left;
}
.colour-dark-grey{
    color:#4b4b4b;
}
.colour-white{
     color:#ffffff;
}
.paragraph{
    font-family: 'montserratregular';
    color:#4b4b4b;
    font-size: 12px;
    line-height: 20px;
}

/* Hero Banner */

.herobanner{
    height: auto;
    width: 100%;
    background: url('../img/hero1.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}
.herobanner__title{
    max-width: 320px;
    padding-top: 22%;
}
.herobanner__video-container video{
    width: 100%;
    max-width: 450px;
    padding-top:30px;
    padding-bottom: 70px;
}
.herobanner__arrow{
    margin:0 auto;
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);  
}

/* Productos */
.contenedor__productos {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.producto__individual {
    max-width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto__foto img {
    max-width: 38vh;
    height: auto;
}
.producto__descripcion{
    display: flex;
    flex-direction: column;
}
.producto__descripcion a {
    font-family: 'poppins';
    font-size: 2.5vw;
    padding: 1%;
    margin-top: 13%;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-align: center;
}
.producto__descripcion p {
    font-family: 'montserratregular';
    font-size: 1em;
    padding: 7%;
    margin: 4% 0;
}

.features__list-container{
    vertical-align: middle;
}
.features__list-container .features__container-element{
    display: block;
    width: 100%;
}
.features__list{
    margin-top: 50px;
}
.features__list li{
    text-align: center;
    margin-bottom: 40px;
}
.features__list-element div{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.features__title{ 
    font-family: 'montserratbold';
    text-align: left;
    margin-bottom: 5px;
}
.features__text{
    max-width:262px ;
}
.features__icon{
    padding-right: 15px;
}
.features__img{
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}

/* header */

.header{
    position:relative;
    width: 100%;
    width: 100%;
    margin: 0 auto;  
}

.header__wrapper{
    position: fixed;
    background: transparent;
    z-index: 5;
    padding-top: 0;  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Menú */

/* menu icon */

.logo{
    z-index: 4;
    padding: 25px 20px;
    position: absolute;
}

.header .menu__icon {
    cursor: pointer;
    padding: 25px 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
    z-index: 5;
    display: block;
}
  
.header .menu__icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu__icon .navicon:before,
.header .menu__icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.header .menu__icon .navicon:before {
    top: 5px;
}
.header .menu__icon .navicon:after {
    top: -5px;
}
  
/* menu btn */
.header .menu__btn {
    display: none;
}
.header .menu__btn:checked ~ .menu {
    transform: translateX(0);
    transition: all .6s ease-out;  
}
.header .menu__btn:checked ~ .menu__icon .navicon {
    background: transparent;
}
.header .menu__btn:checked ~ .menu__icon .navicon:before {
    transform: rotate(-45deg);
}
.header .menu__btn:checked ~ .menu__icon .navicon:after {
    transform: rotate(45deg);
}
.header .menu__btn:checked ~ .menu__icon:not(.steps) .navicon:before,
.header .menu__btn:checked ~ .menu__icon:not(.steps) .navicon:after {
    top: 0;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #4b4b4b;
    transform: translateX(1000px);
    transition: all .6s ease-out;
}
.menu__item{
    font-family: 'montserratbold';
    font-size: 18px;
    color: #ffffff;
    padding:0 3% 0 3%;
}
.menu__item:hover{
    color: #A60304;
}
/* boton principal*/
.degradado{
    background: linear-gradient(-225deg, #feacd4 0%, #ffb1c1 29%, #ffa89e 67%, #c266ee 100%);
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #feacd4;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: #fff;
    box-shadow: 0 0 25px #fff;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(255,166,122),
                0 0 25px rgb(255,166,122),
                0 0 50px rgb(255,166,122),
                0 0 100px rgb(255,166,122);
  }

/* Download */
.download.parallax {
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/sky-mobile.jpg");
}
.download__content{
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.download-icon{
    animation: float 1s ease-in-out infinite;
    opacity:0;
}

.download__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity:0;
}
.download__title{
    opacity:0;
}
.download__text{
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    width: 80%;
    opacity:0;
}
.download__btn{
    margin:20px;
    display: inline-block;
    font-family: 'montserratbold';
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    border-radius: 10px;
    min-width: 200px;
    width: 200px;
    height:auto;
    padding: 20px 15px 20px 15px;
    transform: scale(1);

    -webkit-transition-property: background,transform;
    -moz-transition-property: background,transform;
    -o-transition-property: background,transform;
    transition-property: background,transform;

    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;

    -webkit-transition-timing-function:linear, ease-in;
    -moz-transition-timing-function:linear, ease-in;
    -o-transition-timing-function:linear, ease-in;

    transition-timing-function: linear, ease-in;
    transition-delay: 0s; 
}
.download__btn:hover{ 
    transform: scale(1.1);
    background-color: #ebcb80;  
}

.seccion-prueba{
    height: 700px;
}
/* FOOTER LANDING*/
.wrapperLanding {
    position: relative;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.footerLanding {
    position: relative;
    height: 10%;
    min-width: 100%;
    background-color: #fff;
}

/* FORMULARIO */


@media screen and (min-width:769px){

    /* Download */
    .download.parallax {
        background-image: url("../img/sky-desktop.jpg");
    }

    .download__content{
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .download__list{
        display: flex;
        flex-direction: row;
    }
    .download__text{
        max-width: 550px;
    }

     /* header */
     .header{
        position:relative;
        width: 90%;
        margin: 0 auto;  
    }
    .header .menu__icon {
        display: none;
    }
    .header__wrapper{
        position: absolute;
        background: transparent;
        z-index: 5;
        padding-top: 40px;  
        width: 100%;
    }

    /* Menú */
    .logo {
        position: relative;
        /* padding: 20px; */
        margin-top: -5%;
    }
    .menu{
        transform: translateX(0);
        flex-direction: row;
        width: 70%;
        position: relative;
        background-color: transparent;
        height: auto;
    }
    .menu__item{
        font-family: 'montserratbold';
        font-size: 18px;
        color: #ffffff;
    }
}

@media screen and (min-width:640px){

    /* Estilos básicos*/
    .title--2{ 
        font-size: 44px;
        line-height: 46px;
    }
    .title--3{ 
        font-size: 2vw;
        line-height: 20px;
    }
    /* Hero Banner*/
    .herobanner{
        height: 101vh;/*Cambiamos por "auto" para que quedara del tamaño de la ventana*/
        width: 100%;
        background: url('../img/hero1.jpg') no-repeat center;
        background-size: cover;
    }
    .herobanner__title{        
        max-width: 620px;   
        padding-top: 10%;   
    }
    .paragraph{
        font-size: 14px;
        line-height: 18px;
    }

    /* Features */

    .features__list{
        margin-top: 100px;
    }
    .features__list-container{
        letter-spacing: -5px;
    }
    .features__list-container .features__container-element {
        display: inline-block;
        width: 50%;
        letter-spacing: normal;
    }
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
}







